root = true

# https://devmanual.gentoo.org/ebuild-writing/file-format/index.html
[*]
charset = utf-8
indent_style = tab
tab_width = 4
insert_final_newline = false
trim_trailing_whitespace = true

# Ignore patches
[*.patch]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset